.my-container{
	max-width:1188px;
	margin: 0 auto;
	display:none;
}
.my-container2{
	max-width:1188px;
	margin: 0 auto;
}
#toTop {
	padding:5px;
	position:fixed;
	top:250px; /* отступ кнопки от нижнего края страницы*/
	right:20px;
	cursor:pointer;
	display:none;
	z-index:9999;
	opacity:0.5;
	transition:0.7s;
}
#toTop:hover {
	opacity:1;
}
/* Шапка mobile
=====================================*/

.section-header-mobile-view{
	background: url(../img/mob-bg.jpg) no-repeat top center;
	width: 100%;
	background-size:cover; 
	z-index:1;
	height: 403px;
}
.dd-mobile-tel{
	height: 50px;
	background: #462D1D;
	padding: 0px 15px 13px 0px;
	z-index:9999;
	.dd-tel-wrap{
		float:right;
		padding-top: 13px;
		span{
			display: inline-block;
			font-family: 'Exo2-Bold';
			color:#fff;
			font-size: 17px;
			background: url(../img/tel.png) no-repeat left;
			padding-left: 20px;
			padding-top: 1px;
			height: 25px;
			span{
				font-family: 'Exo2-Regular';
				background: none;
			}
		}
	}
}
.dd-ico-wrap{
	height: 50px;
	width: 68px;
	padding: 13px 13px;
	float:left;
	background:#361F0F;
	cursor:pointer;
}
.dd-mobile-nav{
	text-align:center;
	display:none;
	position: absolute;
	z-index:9999;
	width: 100%;
	li{
		a{
			display: block;
			background: #684226;
			opacity: 0.96;
			border-bottom: 2px solid #341E03;
			padding: 11px 0px;
			color:#fff;
			text-transform: uppercase;
			font-family: 'Exo2-SemiBold';
		}
		a:hover{
			background: #423123;
			opacity: 0.96;
		}
	}
	li:last-child{
		a{
			border-bottom:none;
		}
	}
}
.dd-mobile-logo{
	float:left;
	z-index:1;
}
// Фиксируем меню при скроле
.header-no-fixed{
	display:none;
	position:none;
}
// Тут задаем изменение фона шапки при скроле
.header-fixed{
	position:fixed;
	top:0;
	z-index:9999;
	width:100%;
}


.header-no-fixed2{
	display:none;
	position:none;
}

.header-fixed2{
	display:block;
	position:fixed;
	top:0;
	z-index:9999;
	width:100%;
}
// Контент для мобильной шапки

// Скрываем телефон
.dd-mobile-tel2{
	display:none;
}
.dd-span-phone{
	font-family: 'Exo2-Regular';
	font-size: 17px;
	color:#000000;
	display:inline-block;
	background: url(../img/tel3.png) no-repeat left;
	height: 25px;
	padding-left: 35px;
	padding-top: 1px;
	span{
		font-family: 'Exo2-Bold';
	}
}
//--------------------------------

// Время работы
.dd-mobile-date{
	padding-top: 11px;
	// padding-right: 132px;
	span{
		color: black;
	}
}
.dd-1{
	font-family: 'Exo2-Regular';
	font-size: 16px;
	text-transform:uppercase;
}
.dd-2{
	font-family: 'Exo2-Light';
}
.dd-3{
	font-family: 'Exo2-Bold';
	color:#4D9E00 !important;
}
.dd-3-2{
	color:#782702 !important;
}

// Заказать звонок
.dd-mobile-zakazat-wrap{
	background: #FF6D00;
	margin-top: 20px;
	a{
		display: inline-block;
		padding: 11px 0px;
		text-transform: uppercase;
		color:#fff;
		font-family: 'Exo2-Bold';
	}
}

// Название магазина
.dd-mobile-title-wrap{
	// margin-top: 38px;
	// padding-bottom: 29px;
	text-align:center;
}
.dd-mobile-title, .dd-mobile-title2{
	font-family: 'Exo2-Regular';
	text-transform:uppercase;
	font-size:13px;
	// font-size:16px;
	color:black;
}
.dd-mobile-title2{
	color: #682b0b;
	font-family: 'Exo2-Bold';
	span{
		font-family: 'Exo2-Regular';
		color:black;
	}
}

// Слоган
.dd-mobile-slogan{
	text-align:center;
}
.dd-mobile-big-slogan{
	font-family: 'Exo2-Bold';
	text-transform:uppercase;
	color: #bd040d;
	font-size:25px;
	display:inline-block;
	// padding-bottom: 16px;
	// font-size: 32px;
}
.dd-mobile-big-slogan2{
	padding-bottom: 27px;
	display:inline-block;
	color: black;
	font-size: 17px;
	text-transform:uppercase;
	font-family: 'Exo2-Regular';
}

.fix-navbar-top{
	display:block;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
}


/* Блок с камнями в шапке
====================================*/
.dd-kamni{
	position:relative;
	img{
		margin: 0 auto;
	}
}
.dd-shadow{
	background: url(../img/df-shadow2.png) no-repeat top center;
	background-size: cover;
	height: 49px;
	width: 100%;
	// outline:1px solid red;
}
.dd-header-list{
	li{
		background: url(../img/df-galka2.png) no-repeat left center;
		height: 38px;
		margin-bottom: 8px;
		margin-left: 10px;
		span{
			font-family: 'Exo2-Regular';
			color: black;
			font-size: 12px;
			// font-size: 16px;
			display: inline-block;
		}
	}
	li:first-child{
		span{
			span{
				font-family: 'Exo2-Bold';
				color:#6E361D;
			}
		}
	}
}
.dd-pl-li{
	padding-left: 46px;
	padding-top: 4px;
}
.dd-left-shadow{
	display: none;
}

/* Блок Акция
=======================================*/
.dd-actsia-wrap{
	// background: url(../img/ac.jpg) no-repeat top center;
	background: url(../img/ma2.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 750px;
	// height: 329px;
	// padding-top: 174px;
}
.dd-ac-title{
	text-align:center;
	padding-top: 23px;
	padding-left: 5px;
	padding-bottom: 83px;
	span{
		text-transform: uppercase;
		font-size: 42px;
		font-family: 'Exo2-Bold';
		color:#DD0106;
	}
}
.dd-strelka-wrap{
	background: url(../img/strelka.png) no-repeat top center;
	width: 308px;
	height: 116px;
	margin: 0 auto;
	padding: 19px 40px 0px 86px;
	position:relative;
	span{
		font-size: 13px;
		font-family: 'Exo2-Regular';
		color:#fff;
	}

}
.dd-stone{
	position:absolute;
	left:-2px;
	top:5px;
}
.dd-stone2{
	display:none;
	position:absolute;
	left:-15px;
	top:2px;
}
.dd-red{
	color:#DD0106 !important;
	font-family: 'Exo2-Bold';
	text-transform:uppercase;
}
.dd-bonus{
	display:table;
	margin: 0 auto;
	margin-top: 34px;
	max-width:310px;
	.dd-box{
		display:table-cell; 
		// vertical-align: middle;
	}
	.dd-box2{
		vertical-align: top;
		padding-top: 57px;
		padding-right: 7px;
		// text-align: center;
	}
}
.dd-bonus2{
	display:table;
	margin: 0 auto;
	width:360px;
	.dd-box{
		display:table-cell; 
		// vertical-align: middle;
	}
	.dd-box2{
		vertical-align: top;
		padding-top: 47px;
		padding-right: 35px;
		// text-align: center;
	}
}
.dd-bonus2{
	display:none;
}
.dd-box-txt{
	text-align:center;
	padding-top: 9px;
	span{
		color:#000000;
		font-family: 'Exo2-Regular';
		font-size: 12px;
	}
}

// Таймер
.dd-line-wrap{
	// background: url(../img/line.png) no-repeat top center;
	background-size: cover;
	width:308px;
	margin: 29px auto 0px;
	height: 32px;
	position:relative;
	span{
		font-family: 'Exo2-Regular';
		display: inline-block;
		font-size: 13px;
	}
	.dd-pleft-t{
		padding-left: 23px;
	}
	.dd-l{
		position:absolute;
		top:0;
	}
	.dd-2{
		display: none;
	}
	.dd-number{
		background: url(../img/w2.png) no-repeat top center;
		width: 40px;
		height: 28px;
		font-size: 23px;
		padding-left: 3px;
		letter-spacing: 9px;
		font-family: "Times New Roman";
	}
	.dd-number-wrap{
		position:absolute;
		right: 0;
		top:-11px;
	}
}

.dd-timer-all-wrap{
	width: 308px;
	margin: 0 auto;
	text-align: center;
	.dd-timer{
		.dd-times{
			position:relative;
			.dd-ellipse{
				position:absolute;
				top:19px;
				left:72px;
			}
			.dd-div{
				background:url(../img/dt.png) no-repeat center;
					// background: black;
					float: left;
					margin-left: -3px;
					height: 57px;
					width: 80px;
					position:relative;
					margin-top: 5px;
					span{
						color:#fff;
						font-size:42px;
						font-weight: 500;
						line-height: 15px;
						// text-shadow: 0 1px 0 black;
						font-family: "Times New Roman";
						color:#421F10;
						letter-spacing: 14px;
						padding-left: 12px;
						line-height: 49px;
					}
				}
				.dd-time-txt{
					width: 51px;
					float: left;
					padding-left:24px;
					margin-top: -9px;
					span{
						font-family: 'Exo2-Regular';
						font-size: 12px;
						line-height: 15px;
						color: black;
					}
				}
				.dd-time-txt2{
					padding-left:72px;
				}
				.dd-time-txt3{
					padding-left:76px;
				}
				.dd-time-txt4{
					padding-left:46px;
				}
			}
		}
	}

	.dd-button{
		text-align:center;
		.dd-my{
			padding-top: 12px !important;
		}
	}
	.dd-button2{
		display: none;
	}
	.dd-l2{
		display: none;
	}

/* Footer
===========================================*/
.dd-footer{
	background: url(../img/mfbg.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	padding-top: 4px;
	text-align:center;
	padding-bottom: 13px;
}
.dd-time-of-work-f{
	text-align:center;
	// padding-left: 20px;
	padding: 12px 0px;
	.dd-span-phone{
		background: url(../img/tb.png) no-repeat left center;
	}
}
.dd-footer-logo-m, .dd-time-of-work-f{
	// float:left;
}
.dd-txt-f{
	padding-top: 13px;
}
.dd-mobile-title-wrap2{
	margin-top: 12px !important;
}

// Соц сети
.dd-icons{
	li{
		display: inline-block;
	}
}
.box-ico{
	border:1px solid black;
	border-radius:10em;
	width: 32px;
	height: 32px;
	text-align:center;
	vertical-align:middle;
	i{
		color:black;
	}
}
.fa{
	padding-top: 7px;
}
.sf, .dd-big-txt-f{
	color:black;
	font-family: 'Exo2-Regular';
	font-size:12px;
}
.sf2{
	text-decoration:underline;
	color:#004773;
}
.dd-soc-slogan{
	padding-bottom: 10px;
}
.dd-social-wrap{
	text-align:center;
}
.dd-g{
	text-align:center;
}
.dd-footer-logo-m2{
	display:none;
}
.dd-name-f{
	display:none;
}
.clear-block{
	display:none;
}
.dd-txt-f2{
	display:none;
}
// Конец футер ======================
.dd-ellipse2{
	display: none;
}


@media only screen and (min-width : 320px) {

	// Footer
	.dd-footer-logo-m{
		float:left;
	}
	.dd-time-of-work-f{
		text-align: left;
		padding-left: 15px;
	}
	// end footer
	.dd-mobile-title, .dd-mobile-title2{
		font-size: 16px;
	}
	.dd-mobile-zakazat-wrap{
		text-align: center;
		a{
			background: url(../img/zakaz.png) no-repeat right bottom;
			padding-right: 55px;
			margin-left: 22px;
		}
	}
	.dd-mobile-title-wrap{
		margin-top: 38px;
		padding-bottom: 29px;
		text-align:center;
	}
	.dd-mobile-slogan{
		padding-right: 10px;
		padding-left: 10px;
	}
	.dd-mobile-big-slogan{
		font-size: 32px;
		padding-bottom: 16px;
	}
	.section-header-mobile-view{
		// background: url(../img/bigger2.jpg) no-repeat top center;
		height: 562px;
	}
}

@media only screen and (min-width : 480px) {
	.dd-time-of-work-f{
		width: 210px;
		margin: 0 auto;
	}
	.dd-shadow{
		height: 87px;
	}
	.dd-mobile-zakazat-wrap{
		padding-right: 122px;
	}
	.dd-mobile-date{
		text-align: center;
	}

	.dd-mobile-date{
		padding-right: 125px;
	}
	.section-header-mobile-view{
		background: url(../img/big.jpg) no-repeat top center;
		background-size: cover;
		height: unset;
	}
	.dd-header-list{
		margin: 0 auto;
		width: 468px !important;
	}
}

@media only screen and (min-width : 768px) {

	.dd-shadow{
		display: none;
	}
	.dd-header-list{
		margin: 0 auto;
		width: 468px !important;
	}


}

@media only screen and (min-width : 992px) {

	.dd-actsia-wrap{
		background: url(../img/bb.png) no-repeat top center;
		background-size: cover;
		width: 100%;
		height: 329px;
	}
	// Таймер
	.dd-ac-title{
		padding-bottom: 34px;
		padding-top: 38px;
	}
	.dd-box-txt{
		padding-top: 1px;
		margin-left: -35px;
		padding: 1px 12px;
		span{
			font-size: 14px;
		}
	}
	.dd-box-txt2{
		padding: 1px 12px;
	}
	.dd-bonus2{
		display: block;
	}
	.dd-strelka-wrap, .dd-bonus2{
		float: left;
	}
	.dd-bonus{
		display: none;
	}
	.dd-strelka-wrap{
		background: url(../img/rb.png) no-repeat top center;
		width: 380px;
		height: 140px;
		padding:23px 40px 0 107px;
		span{
			font-size: 17px;
			font-family: 'Exo2-Regular';
			color:#fff;
		}
	}
	.dd-stone{
		display: none;
	}
	.dd-stone2{
		display: block;
	}
	.dd-bonus{
		margin-top: 0;
	}
	.dd-bonus2{
		margin-top: 5px;
		margin-left: 34px;
	}
	.dd-float-timer{
		float: right;
		margin-top: -64px;
	}
	.dd-l{
		display: none;
	}
	.dd-l2{
		position:absolute;
		top:0;
		display: block;
	}
	.dd-line-wrap{
		// background: url(../img/line.png) no-repeat top center;
		background-size: cover;
		width:360px;
		margin: 29px auto 0px;
		height: 32px;
		position:relative;
		.dd-number{
			background: url(../img/kr.png) no-repeat top center;
			width: 47px;
			height: 33px;
			font-size: 27px;
			padding-left: 5px;
			letter-spacing: 9px;
		}
		.dd-pleft-t{
			padding-left: 65px;
		}
		.dd-number-wrap{
			top:-17px;
		}
	}
	.dd-timer-all-wrap{
		width: 368px;
		margin: 0 auto;
		text-align: center;
		.dd-timer{
			.dd-times{
				position:relative;
				.dd-ellipse{
					position:absolute;
					top:19px;
					left:72px;
					display: none;
				}
				.dd-ellipse2{
					display: block;
					position:absolute;
					left: 86px;
					top: 23px;
				}
				.dd-div{
					background:url(../img/t2.png) no-repeat center;
					// background: black;
					float: left;
					margin-left: 8px;
					height: 63px;
					width: 84px;
					position:relative;
					margin-top: 5px;
					span{
						font-size:42px;
						font-weight: 500;
						// text-shadow: 0 1px 0 black;
						font-family: "Times New Roman";
						color:#421F10;
						letter-spacing: 14px;
						padding-left: 14px;
						line-height: 53px;
					}
				}
				.no-margin{
					margin-left: 0 !important;
				}
				.dd-time-txt{
					padding-left:29px;
				}
				.dd-time-txt2{
					padding-left:93px;
				}
				.dd-time-txt3{
					padding-left:90px;
				}
				.dd-time-txt4{
					padding-left:66px;
				}
			}
		}
	}
	.dd-button{
		display: none;
	}
	.dd-button2{
		display: block;
		text-align:center;
		width: 396px;
		margin-left: -16px;
		a{
			display: inline-block;
			background: url(../img/kn.png) no-repeat top center;
			margin-top: 11px;

		}
	}
	// конец таймер

	.dd-kamni{
		float: left;
		padding-left: 18px;
	}
	.dd-header-list{
		width: 584px;
		float: left;
		padding-top: 34px;
		padding-left: 10px;
		background: #FBFBFB;
		li{
			background: url(../img/biggalka.png) no-repeat left center;
			height: 53px;
			span{
				font-size: 16px;
			}
		}
		.li-mb{
			margin-bottom: 29px;
		}
	}
	.dd-pl-li{
		padding-left: 76px;
		padding-top: 16px;
	}
	.dd-pl-li2{
		padding-top: 6px;
	}
	.li-mb2{
		margin-bottom: 19px !important;
	}
}

@media only screen and (min-width : 1248px) {
		// footer
		.dd-footer{
			position:relative;
			background: url(../img/bf2.jpg) no-repeat top center;
			background-size: cover;
			width: 100%;
			padding-top: 7px;
			text-align:center;
			padding-bottom: 0px;
		}
		.dd-footer-logo-m{
			display: none;
		}
		.dd-footer-logo-m2{
			display: block;
			float: left;
			margin-left: -101px;
		}
		.dd-time-of-work-f{
			text-align: right;
			float: right;
			width: 396px;
			padding-right: 21px;
		}
		.dd-g{
		// display: none;
		padding-top: 15px;
		padding-left: 15px;
		text-align: left;
		float: left;
		span{
			font-size:12px;
		}
	}
	// .dd-name-f{
	// 	text-align: left;
	// 	display: block;
	// 	float: left;
	// }
	.clear-none{
		display: none;
	}
	.dd-txt-f{
		display: none;
	}
	.dd-txt-f2{
		display: block;
		text-align: left;
	}
	.dd-social-wrap{
		float: left;
		padding-left: 75px;
		padding-top: 4px;
	}
	.clear-block{
		display: block;
	}
	.dd-big-txt-f{
		float: left;
		width: 990px;
		text-align: left;
		padding-left: 17px;
		padding-top: 29px;
	}
	// end footer
	.dd-header-list{
		margin-left: 72px;
		position:relative;
		.dd-left-shadow{
			display: block;
			position:absolute;
			left:-64px;
			top:0;
		}
	}
	// Конец блока с камнями
	.section-header-mobile-view{
		height: 291px;
	}
	.dd-mobile-logo, .dd-mobile-tel, .dd-mobile-zakazat-wrap, .dd-mobile-date, .dd-mobile-title-wrap, .dd-mobile-slogan{
		display: none;
	}

	.my-container{
		display: block;
		position:relative;
	}
	.dd-big-logo, .dd-big-name{
		float: left;
	}
	.dd-big-logo{
		margin-left: -150px;
		// outline: 2px solid red;
		display: inline-block;
		position:absolute;
		left:0;
		// z-index: 999;
	}
	.dd-big-name{
		padding-top: 17px;
		display: inline-block;
		// outline: 2px solid black;
		padding-left: 226px;
		padding-bottom: 15px;
	}
	.dd-mobile-title{
		font-size: 12px !important;
		span{
			color:#713712;
		}
	}
	.dd-right-block{
		padding-top: 10px;
		text-align: right;
		float: right;
		.dd-pb{
			padding-bottom: 10px !important;
		}
	}
	.dd-1, .dd-2, .dd-3, .dd-3-2{
		font-size: 12px;
	}
	.dd-scroll-menu{
		background: #3B2F14;
		display: none;
		ul{
			li{
				display: inline-block;
				margin-left: 40px;
				a{
					display: inline-block;
					text-transform: uppercase;
					padding: 19px 16px;
					color:#fff;
					font-family: 'Exo2-SemiBold';
					font-size: 13px;
				}
			}
			.li-no-padding{
				margin-left: 0;
			}
		}
	}
	.dd-big-menu{
		background: #765629;
		float: left;
		margin-left: 200px;
		z-index: -1;
		// outline: 1px solid yellow;
		// position:relative;
		ul{
			li{
				display: inline-block;
				a{
					display: inline-block;
					text-transform: uppercase;
					padding: 19px 16px;
					color:#fff;
					font-family: 'Exo2-SemiBold';
					font-size: 13px;
				}
				.pleft{
					padding-left: 40px;
				}
				.dd-after{
					position:relative;
					padding-right: 33px;
				}
				.dd-after:before{
					position:absolute;
					content: "";
					background: url(../img/tr2.png) no-repeat;
					width: 25px;
					height: 54px;
					right:-1px;
					top:0px;
				}
			}
		}
		.dd-zakazat-big{
			position:absolute;
			right: 0;
			top:68px;
			// top:72px;
		}
		@-moz-document url-prefix() { 
			.dd-zakazat-big{
				top:72px;
			}
		}
	}
	.dd-big-slogan{
		text-align: center;
		padding-top: 29px;
	}
	.dd-mobile-big-slogan{
		font-size: 45px;
		padding-bottom: 4px;
	}
	.dd-mobile-big-slogan2{
		font-size: 27px;
	}
	.div-left{
		float: left;
	}
	.div-right{
		float: right;
		padding-top: 14px;
		.dd-span-phone{
			background: url(../img/tw.png) no-repeat;
			color:#fff !important;
			span{
				color:#fff !important;
				background: none;
			}
		}
	}
}
// @media only screen and (min-width : 1248px) {
// }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}