.my-container{
	max-width:1188px;
	margin: 0 auto;
	display:none;
}
.my-container2{
	max-width:1188px;
	margin: 0 auto;
}
/* Шапка mobile
=====================================*/

.section-header-mobile-view{
	background: url(../img/mob-bg.jpg) no-repeat top center;
	width: 100%;
	background-size:cover; 
	z-index:1;
	height: 403px;
}
.dd-mobile-tel{
	height: 50px;
	background: #462D1D;
	padding: 0px 15px 13px 0px;
	z-index:9999;
	.dd-tel-wrap{
		float:right;
		padding-top: 13px;
		span{
			display: inline-block;
			font-family: 'Exo2-Bold';
			color:#fff;
			font-size: 17px;
			background: url(../img/tel.png) no-repeat left;
			padding-left: 20px;
			padding-top: 1px;
			height: 25px;
			span{
				font-family: 'Exo2-Regular';
				background: none;
			}
		}
	}
}
.dd-ico-wrap{
	height: 50px;
	width: 68px;
	padding: 13px 13px;
	float:left;
	background:#361F0F;
	cursor:pointer;
}
.dd-mobile-nav{
	text-align:center;
	display:none;
	position: absolute;
	z-index:9999;
	width: 100%;
	li{
		a{
			display: block;
			background: #684226;
			opacity: 0.96;
			border-bottom: 2px solid #341E03;
			padding: 11px 0px;
			color:#fff;
			text-transform: uppercase;
			font-family: 'Exo2-SemiBold';
		}
		a:hover{
			background: #423123;
			opacity: 0.96;
		}
	}
	li:last-child{
		a{
			border-bottom:none;
		}
	}
}
.dd-mobile-logo{
	float:left;
	// margin-top: -20px;
	// position:absolute;
	// top:-10px;
	// left:0;
	z-index:1;
}
// Фиксируем меню при скроле
.header-no-fixed{
	display:none;
	position:none;
}
// Тут задаем изменение фона шапки при скроле
.header-fixed{
	position:fixed;
	top:0;
	z-index:9999;
	width:100%;
}


.header-no-fixed2{
	display:none;
	position:none;
}

.header-fixed2{
	display:block;
	position:fixed;
	top:0;
	z-index:9999;
	width:100%;
}
// Контент для мобильной шапки

// Скрываем телефон
.dd-mobile-tel2{
	display:none;
}
.dd-span-phone{
	font-family: 'Exo2-Regular';
	font-size: 17px;
	color:#000000;
	display:inline-block;
	background: url(../img/tel3.png) no-repeat left;
	height: 25px;
	padding-left: 35px;
	padding-top: 1px;
	span{
		font-family: 'Exo2-Bold';
	}
}
//--------------------------------

// Время работы
.dd-mobile-date{
	padding-top: 11px;
	// padding-right: 132px;
	span{
		color: black;
	}
}
.dd-1{
	font-family: 'Exo2-Regular';
	font-size: 16px;
	text-transform:uppercase;
}
.dd-2{
	font-family: 'Exo2-Light';
}
.dd-3{
	font-family: 'Exo2-Bold';
	color:#4D9E00 !important;
}
.dd-3-2{
	color:#782702 !important;
}

// Заказать звонок
.dd-mobile-zakazat-wrap{
	background: #FF6D00;
	margin-top: 20px;
	a{
		display: inline-block;
		padding: 11px 0px;
		text-transform: uppercase;
		color:#fff;
		font-family: 'Exo2-Bold';
	}
}

// Название магазина
.dd-mobile-title-wrap{
	// margin-top: 38px;
	// padding-bottom: 29px;
	text-align:center;
}
.dd-mobile-title, .dd-mobile-title2{
	font-family: 'Exo2-Regular';
	text-transform:uppercase;
	font-size:13px;
	// font-size:16px;
	color:black;
}
.dd-mobile-title2{
	color: #682b0b;
	font-family: 'Exo2-Bold';
	span{
		font-family: 'Exo2-Regular';
		color:black;
	}
}

// Слоган
.dd-mobile-slogan{
	text-align:center;
}
.dd-mobile-big-slogan{
	font-family: 'Exo2-Bold';
	text-transform:uppercase;
	color: #bd040d;
	font-size:25px;
	display:inline-block;
	// padding-bottom: 16px;
	// font-size: 32px;
}
.dd-mobile-big-slogan2{
	padding-bottom: 27px;
	display:inline-block;
	color: black;
	font-size: 17px;
	text-transform:uppercase;
	font-family: 'Exo2-Regular';
}

.fix-navbar-top{
	display:block;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
}


/* Блок с камнями в шапке
====================================*/
.dd-kamni{
	position:relative;
	img{
		margin: 0 auto;
	}
}
.dd-shadow{
	background: url(../img/df-shadow2.png) no-repeat top center;
	background-size: cover;
	height: 49px;
	width: 100%;
	// outline:1px solid red;
}
.dd-header-list{
	li{
		background: url(../img/df-galka2.png) no-repeat left center;
		height: 38px;
		margin-bottom: 8px;
		margin-left: 10px;
		span{
			font-family: 'Exo2-Regular';
			color: black;
			font-size: 12px;
			// font-size: 16px;
			display: inline-block;
		}
	}
	li:first-child{
		span{
			span{
				font-family: 'Exo2-Bold';
				color:#6E361D;
			}
		}
	}
}
.dd-pl-li{
	padding-left: 46px;
	padding-top: 4px;
}
.dd-left-shadow{
	display: none;
}







@media only screen and (min-width : 320px) {
	.dd-mobile-title, .dd-mobile-title2{
		font-size: 16px;
	}
	.dd-mobile-zakazat-wrap{
		text-align: center;
		a{
			background: url(../img/zakaz.png) no-repeat right bottom;
			padding-right: 55px;
			margin-left: 22px;
		}
	}
	.dd-mobile-title-wrap{
		margin-top: 38px;
		padding-bottom: 29px;
		text-align:center;
	}
	.dd-mobile-slogan{
		padding-right: 10px;
		padding-left: 10px;
	}
	.dd-mobile-big-slogan{
		font-size: 32px;
		padding-bottom: 16px;
	}
	.section-header-mobile-view{
		// background: url(../img/bigger2.jpg) no-repeat top center;
		height: 562px;
	}
}

@media only screen and (min-width : 480px) {
	.dd-shadow{
		height: 87px;
	}
	.dd-mobile-zakazat-wrap{
		padding-right: 122px;
	}
	.dd-mobile-date{
		text-align: center;
	}

	.dd-mobile-date{
		padding-right: 125px;
	}
	.section-header-mobile-view{
		background: url(../img/big.jpg) no-repeat top center;
		background-size: cover;
		height: unset;
	}

}

@media only screen and (min-width : 768px) {
	// .dd-shadow{
	// 	display: none;
	// }
	.dd-header-list{
		margin: 0 auto;
		width: 468px !important;
	}
}

@media only screen and (min-width : 992px) {
	.dd-shadow{
		display: none;
	}
	.dd-kamni{
		float: left;
		padding-left: 18px;
	}
	.dd-header-list{
		width: 584px;
		float: left;
		padding-top: 34px;
		padding-left: 10px;
		background: #FBFBFB;
		li{
			background: url(../img/biggalka.png) no-repeat left center;
			height: 53px;
			span{
				font-size: 16px;
			}
		}
		.li-mb{
			margin-bottom: 29px;
		}
	}
	.dd-pl-li{
		padding-left: 76px;
		padding-top: 16px;
	}
	.dd-pl-li2{
		padding-top: 6px;
	}
	.li-mb2{
		margin-bottom: 19px !important;
	}

}

@media only screen and (min-width : 1248px) {
	.dd-header-list{
		margin-left: 72px;
		position:relative;
		.dd-left-shadow{
			display: block;
			position:absolute;
			left:-64px;
			top:0;
		}
	}
	// Конец блока с камнями
	.section-header-mobile-view{
		height: 291px;
	}
	.dd-mobile-logo, .dd-mobile-tel, .dd-mobile-zakazat-wrap, .dd-mobile-date, .dd-mobile-title-wrap, .dd-mobile-slogan{
		display: none;
	}
	.my-container{
		display: block;
		position:relative;
	}
	.dd-big-logo, .dd-big-name{
		float: left;
	}
	.dd-big-logo{
		margin-left: -150px;
		// outline: 2px solid red;
		display: inline-block;
		position:absolute;
		left:0;
		// z-index: 999;
	}
	.dd-big-name{
		padding-top: 17px;
		display: inline-block;
		// outline: 2px solid black;
		padding-left: 226px;
		padding-bottom: 15px;
	}
	.dd-mobile-title{
		font-size: 12px !important;
		span{
			color:#713712;
		}
	}
	.dd-right-block{
		padding-top: 10px;
		text-align: right;
		float: right;
		.dd-pb{
			padding-bottom: 10px !important;
		}
	}
	.dd-1, .dd-2, .dd-3, .dd-3-2{
		font-size: 12px;
	}
	.dd-scroll-menu{
		background: #3B2F14;
		display: none;
		ul{
			li{
				display: inline-block;
				a{
					display: inline-block;
					text-transform: uppercase;
					padding: 19px 16px;
					color:#fff;
					font-family: 'Exo2-SemiBold';
					font-size: 13px;
				}
			}
		}
	}
	.dd-big-menu{
		background: #765629;
		float: left;
		margin-left: 200px;
		z-index: -1;
		// outline: 1px solid yellow;
		// position:relative;
		ul{
			li{
				display: inline-block;
				a{
					display: inline-block;
					text-transform: uppercase;
					padding: 19px 16px;
					color:#fff;
					font-family: 'Exo2-SemiBold';
					font-size: 13px;
				}
				.pleft{
					padding-left: 40px;
				}
				.dd-after{
					position:relative;
					padding-right: 33px;
				}
				.dd-after:before{
					position:absolute;
					content: "";
					background: url(../img/tr2.png) no-repeat;
					width: 25px;
					height: 54px;
					right:-1px;
					top:0px;
				}
			}
		}
		.dd-zakazat-big{
			position:absolute;
			right: 0;
			top:68px;
			// top:72px;
		}
		@-moz-document url-prefix() { 
			.dd-zakazat-big{
				top:72px;
			}
		}
	}
	.dd-big-slogan{
		text-align: center;
		padding-top: 29px;
	}
	.dd-mobile-big-slogan{
		font-size: 45px;
		padding-bottom: 4px;
	}
	.dd-mobile-big-slogan2{
		font-size: 27px;
	}
	.div-left{
		float: left;
	}
	.div-right{
		float: right;
		padding-top: 14px;
		.dd-span-phone{
			background: url(../img/tw.png) no-repeat;
			color:#fff !important;
			span{
				color:#fff !important;
				background: none;
			}
		}
	}
}
// @media only screen and (min-width : 1248px) {
// }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}