.db-deliver{


}
.db-select-span{
	font-family: 'Exo2-Bold';
	font-size:14px;
	text-transform: uppercase;
	line-height:21px;
	text-align: center;
	display:block;
	padding-top: 20px;
}
.section_select-db-view{
	background: url("../img/db-select.jpg") no-repeat center;
	background-size: cover;
	// outline: 1px solid red;
	color:#000;
	padding:100px 0 !important;
}
.section_avoid-db{
	background: url("../img/db-avoid.jpg")no-repeat center;
	background-size: cover;
	padding-bottom: 250px !important;

}
.db-select-h2{
	font-family: 'Exo2-Bold';
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	
}
.db-select-one{
text-align:center;
}
.db-select-one, .db-select-two{
	font-family: 'Exo2-Regular';
	font-size: 14px;
	line-height:21px;
	padding-top: 20px;
}
.db-select-a{

	   //  padding-left: 20px !important;
    // font-size: 17px !important;
}
.db-a-container{
	// outline: 1px solid red;
	max-width: 410px;
		margin: 0 auto;
}

#a5fccd1f979ef97963355f88df78059d .widget-info{
	position:unset !important;
	max-width: 300px !important;
	padding: 20px 10px 15px !important;//20
	margin:0 auto;

}

.ymaps-2-1-47-map-bg-ru{
	width:unset !important;

}
#a5fccd1f979ef97963355f88df78059d .widget-info .widget-map-container{
	float:unset !important;
}

.db-p-last{
			margin-top: 0px !important;
			width:300px;
			padding: 20px;
			margin: 0 auto;
			text-align: center;
			margin: 0 auto;
			font-size: 14px;
			font-family:"Exo2-Regular";
			a{
				color: #207497;
				font-family: "Exo2-Bold";
				text-decoration: underline;
				padding: 0 10px;
			}
		}


.avoid-one, .avoid-two, .avoid-three, .avoid-four{
	background: url("../img/db-above.png")no-repeat top left;
	color:#fff;
	font-family: 'Exo2-Regular';
	font-size: 15px;
	line-height: 22px;
	padding:8px 0 20px 80px;
	text-align: center;
	span{
		font-family: 'Exo2-Bold';
	}

}

.avoid-h2{
	color:#fff;
	line-height: 13px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 200px;
	font-size:20px;
	line-height: 25px;
}
.db-stone-one{
	
	font-size: 13px;
	line-height: 41px;
	font-family: 'Exo2-Regular';
}
.db-stone-two{
	color: #bd040d;
}
.db-stone-h2{
	text-transform: uppercase;
	font-size: 18px;
	color: #010101;
	font-family: 'Exo2-Bold';
	line-height: 52px;
// outline: 1px solid red;
max-width:655px;
margin:0 auto;
padding-top:30px;
}
.section-db-stone{
	background: url("../img/hartigan.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	// height:350px;
	padding-bottom: 100px !important;
	text-align: center;
	// outline: 1px solid red;
}


.db-link-avoid:after, .db-link-avoid:before{
	box-shadow: none !important;
}

.db-center{
	text-align: center;
	margin-top: -12px;
}
.db-stone-link{
	font-size: 15px !important;
	margin-top: 20px	;
}


.section_why-padding{
	background: url("../img/db-why-fon.jpg")no-repeat center;	
	background-size: cover;
	text-align: center;
	font-family:"Exo2-Regular";
	padding: 190px 0 !important;
	color:black;
}

.db-why-span{
	font-size: 20px;
	text-transform: uppercase;

}
.db-why-h2{
	
	padding-bottom: 20px;
	font-size:24px;
	text-transform: uppercase;
	line-height: 27px;
	font-family: "Exo2-Bold";
	color:#000;
}
.db-why-right{
		// outline: 1px solid red;
		text-align: left;
		background: url("../img/db-why-right.png")no-repeat top left;
		padding-left: 50px;
		padding-right: 8px;
		padding-bottom: 20px;
		span{
			font-size: 14px;
			font-family: "Exo2-Bold";
			text-transform: uppercase;
			// outline: 1px solid red;
			display: block;
			padding-top: 22px;
		}
	}
.db-why-left{
	img{
	width: 100%;
	height:auto;
	}
}


.section_db-test-view{
	color:#000;
	font-family: "Exo2-Regular";
}

.db-test-h2{
	font-size: 36px;
	text-transform: uppercase;
	line-height: 52px;
	text-align: center;
	color: #010101;
	font-family: "Exo2-Bold";
}
.db-otziv-block-one{
	float:left;
padding-right: 20px;
}

.db-otziv-block-two{
	float:left;
}

.db-otziv-content{
margin-top: 30px;
border: 2px solid #ebeced;
padding: 12px 7px 0px 12px;
max-width: 575px;
min-height: 225px;

}
.db-otziv-content-one{
	width:200px;
	margin: 0 auto;
text-align: center;
span{
	background: url("../img/db-stars.png") no-repeat right;
	padding-right: 92px;
margin-top: 8px;
display: block;
font-size: 14px;
font-style: italic;
line-height: 22px;
font-family: "Exo2-Regular";

}

}
.db-otziv-content-two{
float: left;
max-width: 400px;
padding-left: 13px;
padding-bottom: 20px;
}

.db-first{
font-size: 14px;
line-height: 25px;
padding-bottom: 10px;

	span{
font-size: 14px;
line-height: 22px;
font-family: "Exo2-Bold";
text-transform: uppercase;
	}
}

.db-link-test{
	text-align: center;
}
.db-link{
background: url("../img/db-link.png") no-repeat;
// background-size: cover;
max-width: 440px;
width: 100%;
padding: 23px 50px 40px 30px;
display: inline-block;
text-align: center;
margin-top: 20px;
color: #848484;
text-transform: uppercase;
line-height: 25px;
font-family: "Exo2-Bold";
font-size: 20px;
float:right;
}
.db-down{
	margin-top:20px;
}



	@media only screen and (min-width : 320px) {
		.db-link-avoid{
			font-size: 16px !important;
			margin-top: 30px !important;
		}
	}

	@media only screen and (min-width : 480px) {


		.db-link-avoid{
			font-size: 22px !important;
			margin-top: 30px !important;
		}
	}

	@media only screen and (min-width : 768px) {
	}

	@media only screen and (min-width : 992px) {
		
		.db-otziv-content-two{

padding-bottom: 0px;
}	
.db-otziv-content-one{
	width:unset;
	margin: 0px;
text-align: left;
float:left;
}

		.db-p-last{
			margin-top: 100px;
			max-width: 1000px;
			width:unset;
			margin: 0 auto;
			font-size: 23px;
			font-family:"Exo2-Regular";
			a{
				color: #207497;
				font-family: "Exo2-Bold";
				text-decoration: underline;
				padding: 0 30px;
			}
		}
.db-select-h2{
	font-size: 36px;
	padding-bottom: 20px;
}
.db-select-a {
	margin-top: 50px !important;
    padding-left: 80px !important;
    font-size: 25px !important;
}
		#a5fccd1f979ef97963355f88df78059d .widget-info{
	
	max-width: 1160px !important;
	width: unset !important;
	padding: 20px 20px 15px !important;//20
	margin:0 auto;

}

.ymaps-2-1-47-map-bg-ru{
	width:unset !important;

}
#a5fccd1f979ef97963355f88df78059d .widget-info .widget-map-container{
	float:right!important;
}

.db-select-one{
text-align:left;
}
.db-select-span{
	text-align: left;
}
		.section_why-padding{
	background: url("../img/db-why-fon.jpg")no-repeat center;	
	background-size: cover;
	text-align: center;
	font-family:"Exo2-Regular";
	padding: 190px 0 !important;
	color:black;
}

.db-why-span{
	font-size: 30px;

}
.db-why-h2{
	padding-bottom: 12px;
	font-size:36px;
	text-transform: uppercase;
	line-height: 52px;
	font-family: "Exo2-Bold";
	color:#000;
}
.db-why-left{
	margin-left: -78px;
padding-top: 48px;
}
.db-why-right{
		// outline: 1px solid red;
		text-align: left;
		background: url("../img/db-why-right.png")no-repeat top left;
		padding-left: 35px;
		padding-right: 8px;
		padding-bottom: 0px;
		margin-top: 24px;
		font-size: 15px;
		span{
			font-size: 14px;
			margin-bottom: -10px;
			font-family: "Exo2-Bold";
			text-transform: uppercase;
			// outline: 1px solid red;
			display: block;
			padding-top: 22px;
		}
	}



		.section_why-padding{
			padding:100px 0 !important;
		}



		.db-stone-link{
			font-size: 20px !important;
			text-align: left;
			display: block !important;
			margin-left: 0 !important;
		}
		.avoid-one, .avoid-two, .avoid-three, .avoid-four{
			text-align: left;
			padding: 0 0 49px 94px;
		}
		.avoid-h2{
			color:#fff;
			line-height: 13px;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 74px;
			padding-top: 11px;
			font-size: 36px;
		}



		.db-stone-one{

			font-size: 23px;
			line-height: 41px;
			font-family: 'Exo2-Regular';
		}
		.db-stone-two{
			color: #bd040d;
		}
		.db-stone-h2{
			text-transform: uppercase;
			font-size: 34px;
			color: #010101;
			font-family: 'Exo2-Bold';
			line-height: 52px;
// outline: 1px solid red;
max-width:655px;
padding-top: 30px;
text-align:left;
margin-left: 0;

}
.section-db-stone{
	background: url("../img/hartigan.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height:350px;
	padding-bottom: 100px !important;
	
	// outline: 1px solid red;
}
.db-link-avoid{
	padding: 20px 24px !important;
	margin-top: 0px !important;

}
.db-link-avoid:after, .db-link-avoid:before{
	box-shadow: none !important;
}	

.section_avoid-db{
	margin-top:310px;
	padding: 142px 0 !important;
}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    // outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}